@media only screen and (max-width: 768px) {
    /**
  * TODO
  * [] Redesign the UI 
  * [] Implement Resposive Desgin
  * [] @fixup - rearange the UI for small screens
  * 
  */
    body {
        width: 100vw;
        height: 100vh;
        padding: auto;
        /* background-color: red; */
    }
    .container {
        width: 100vw;
        margin: auto;
        top: 10px;
        height: 100vh;
    }
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

:root {
    --bg: rgb(36, 38, 38);
    background-color: var(--bg);
    font-size: 16px;
}

.container {
    width: 320px;
    position: relative;
    margin: auto;
    top: 30px;
    height: 80vh;
}

#inputForm>input {
    margin: auto;
    padding: 5px;
    border: none;
    font-size: inherit;
    line-height: 1.5em;
    height: 30px;
    align-content: center;
}

input[type="text"] {
    width: 85%;
    color: darkgray;
    border: 1px solid darkgrey;
    border-radius: 7px 0px 0px 7px;
    padding: 5px;
    font-weight: lighter;
    background-color: rgb(23, 24, 24);
}

input[type="submit"] {
    width: 15%;
    position: relative;
    text-align: justify;
    top: 2px;
    width: 40px;
    color: rgb(235, 223, 223);
    border-radius: 0px 7px 7px 0px;
    font-weight: bold;
    background-color: cornflowerblue;
}

ul {
    position: relative;
    list-style: none;
    color: #c0c0c0;
    left: 5px;
}

.checkbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid rgb(23, 24, 24);
}

li {
    margin: 5px 0px;
    line-height: 1.1em;
    font-weight: lighter;
    cursor: pointer;
}

li:hover span::after {
    content: "x";
    position: absolute;
    right: 0px;
    color: gray;
}

li:hover span {
    box-sizing: border-box;
    content: "";
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-left: 2px solid green;
}


/** TODO Customize the button */