@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  .container {
    width: 100vw;
    margin: auto;
    top: 10px;
    height: 100vh;
  }
}

html {
  box-sizing: border-box;
}

/**
  * TODO
  * [] Redesign the UI 
  * [] Implement Resposive Desgin
  * [] @fixup - rearange the UI for small screens
  * 
  */

*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

:root {
  --my-bg-dark-theme: rgb(36, 38, 38);
  --my-bg-dark-them-text-input: rgb(20, 20, 20);
  background-color: var(--my-bg-dark-theme);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  width: 320px;
  position: relative;
  margin: auto;
  height: 80vh;
}

#inputForm {
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  box-shadow: 1px 1px 5px var(--my-bg-dark-them-text-input);
}

form > * {
  border-style: none;
  color: #c0c0c0;
  text-align: start;
  padding: 5px;
}

.input-text {
  background-color: var(--my-bg-dark-them-text-input);
  flex-grow: 1;
}

.button {
  background-color: var(--my-bg-dark-theme);
  border: 1px solid var(--my-bg-dark-them-text-input);
}

.button:hover {
  cursor: pointer;
  background-color: var(--my-bg-dark-them-text-input);
  border: 1px solid #c0c0c0;
  color: whitesmoke;
}

ul {
  position: relative;
  list-style: none;
  color: #c0c0c0;
}

li {
  margin: 5px 0px;
  line-height: 1.1em;
  font-weight: lighter;
  cursor: pointer;
  text-transform: capitalize;
  text-align: start;
  overflow: ellipse;
}

.checkbox {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(23, 24, 24);
}

.delete-btn {
  direction: rtl;
  text-transform: lowercase;
  visibility: hidden;
  position: absolute;
  right: 0px;
  color: rgb(255, 0, 0);
}

li:hover .checkbox {
  border-left: 2px solid green;
}

li:hover .delete-btn {
  visibility: visible;
}

.strike-through {
  text-decoration: line-through;
}
