@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@font-face {
  font-family: "Gaegu";
  src: url("../assets/fonts/Gaegu-Regular.ttf") format("truetype");
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /**  */
  --default-padding: 4px;
  --default-margin: 4px;
  /** colors */
  --primary-color: #23a6f0;
  --primary-variant-color: #b4e1fa;
  --surface-color: #f5f5f5;
  --default-border-radius: 7px;
  /**  */
  --default-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: var(--default-margin);
  padding: var(--default-padding);
  color: #555;
}

footer {
  background: var(--surface-color);
  border-top: 1px solid black;
  display: flex;
  align-items: center;
}

footer span a:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

[type="text"]::placeholder {
  color: rgba(73, 73, 73, 0.2);
  font-size: 1.5rem;
}

/** Mobile phone styling */
.container {
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/**
*
*
* Section form submition 
*
*
*/

form {
  border: 1px solid var(--surface-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--default-padding);
  box-shadow: var(--default-shadow);
  border-radius: var(--default-border-radius);
}

/** input field */
[type="text"] {
  padding: calc(var(--default-padding) * 3);
  margin: var(--default-margin);
  font-size: 1.5rem;
  flex-grow: 1;
  min-width: 100px;
  border-radius: var(--default-border-radius);
  border: 1px solid var(--surface-color);
}

[type="text"]:hover {
  border: 1px solid var(--primary-variant-color);
}

/** Submit button */
[type="submit"] {
  cursor: pointer;
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
  border-radius: var(--default-border-radius);
  outline: none;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-left: calc(var(--default-margin) * 2);
  background-image: url(../assets/submit-btn-icon.svg);
  background-position: center;
  background-size: cover;
}

[type="submit"]:hover {
  background-color: white;
  box-shadow: var(--default-shadow);
}

/**
*
* Section Second (task list) 
*
*/

section:nth-child(2) {
  margin-top: calc(var(--default-margin) * 3);
  flex-grow: 1;
  overflow-y: scroll;
  box-shadow: var(--default-shadow);
  border-radius: var(--default-border-radius);
}

/** Task List UL */
[data-id="task-list"] {
  /* border: 1px solid var(--surface-color); */
  font-family: "Gaegu", "Open Sans", sans-serif;
  padding: var(--default-padding);
  /* height: 100%; */
}

/** LI */
[data-id="task-list"] [data-checked] {
  border: 1px solid var(--surface-color);
  border-radius: var(--default-border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

/** hovering LI item */
[data-id="task-list"] [data-checked]:hover {
  transition: ease-in-out 80ms;
  background: var(--surface-color);
}

/** delete button */
[data-checked] button {
  cursor: pointer;
  color: red;
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--default-margin);
  margin: var(--default-margin);
  /** reset the button appearance */
  outline: none;
  border: 1px solid var(--surface-color);
  border-radius: var(--default-border-radius);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /** add bg image */
  background: url(../assets/icons8-delete-48.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  /** Hidde the text on mobile size display */
  text-indent: -9999px;
}

/** hovering delete button */
[data-checked] button:hover {
  background-color: #fff;
  box-shadow: var(--default-shadow);
}

/** li > span */
[data-checked] span {
  font-size: 1.5rem;
  cursor: pointer;
  margin: var(--default-margin);
  padding: var(--default-padding);
  overflow-x: scroll;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
}

/** STATE:SELECTED */
[data-checked="true"] span {
  color: grey;
  text-decoration: line-through;
}

/** tick mark unchecked */
[data-checked] span::before {
  content: "";
  display: inline-block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  border: 2px solid var(--primary-color);
  border-radius: var(--default-border-radius);
  margin: calc(var(--default-margin) * 2);
}

/** tick mark checked */
[data-checked="true"] span::before {
  border: 2px solid var(--primary-variant-color);
  background-color: var(--primary-color);
  box-shadow: var(--default-shadow);
}

[data-checked]:hover span {
  color: #000;
}

/**
*
* Section filtering tabs 
*
*
*/
section:last-child {
  margin-top: calc(var(--default-margin) * 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  flex-grow: 1;
}

/** Tabs  */
.tab {
  list-style: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab .selected {
  color: var(--primary-variant-color);
}

.tab-item {
  cursor: pointer;
  padding: 12px calc(var(--default-padding) * 5);
  border-radius: var(--default-border-radius);
}

.tab-item:hover {
  color: var(--primary-variant-color);
}

/** Desktop style */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768;
    margin: 0 auto;
  }

  form {
    box-shadow: none;
    border: none;
  }

  [type="text"] {
    padding: 26px calc(var(--default-padding) * 3);
    border: 1px solid rgba(0, 0, 0, 0.25);
  }

  [type="submit"] {
    display: none;
  }

  section:nth-child(2) {
    box-shadow: none;
  }

  section:last-child {
    border-top: 1px solid #333;
  }

  /** delete button */
  [data-checked] button {
    text-indent: 0;
    width: auto;
    height: auto;
    background: none;
    line-height: 32px;
    padding: 16px 32px;
    font-size: 1rem;
    color: red;
    border: 1px solid red;
  }
}
